header{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
ul{
	display: flex;
	list-style: none;
}

li{
	margin-left: 50px;
	margin-right: 10px;
	padding-right: 5px;
}
h1{
	margin-left: 15px;
}

h2{
	margin-left: 50%;
}

.container {
   width: 100%;
    display: flex;
    justify-content: center;
}

.container p {
    width: 60%;
    text-align: center;
}
h3{
	margin-left: 50%;

}